{% extends "base.html" %}

{% block content %}
<div class="login-card">
    <div class="logo-container">
        <img src="https://cdn.discordapp.com/icons/1494047594425487390/bfe0c28a29962936e5b35eedc3b51b64.png?size=2048" alt="Logo" class="logo">
    </div>
    <h2>Redefinir Palavra-Passe</h2>
    <p class="subtitle">Bem-vindo(a), {{ func[3] }}. Crie uma nova senha de acesso.</p>
    
    <form method="POST" action="/reset_password/{{ token }}" class="login-form">
        <div class="input-group">
            <label for="password">Nova Palavra-Passe</label>
            <input type="password" id="password" name="password" placeholder="Digite a nova senha" required minlength="6">
        </div>
        
        <button type="submit" class="btn-primary">Atualizar Senha</button>
    </form>
</div>
{% endblock %}
